.contact-form {
    &__input-stack {
        margin-bottom: 20px;
    }

    &__input-group:not(:last-child) {
        margin-bottom: 10px;
    }

    &__policy {
        margin-bottom: 30px;
        
        @extend %centered;
        @include font(12px, 14px);
        text-align: initial;

        @include desktop() {
            @include font();
        }
        
        // check if color is necessary
        color: getColor('color-txt');
    }

    &__checkbox {
        margin-right: 7px;
    }

    &__link {
        color: getColor('accent');
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
}