.header-socials {
    
    display: none;

    @media screen and (max-width: ($width-tablet - 1px)) {
        display: flex;
        flex-wrap: wrap;
        
        margin-bottom: -20px;
        margin-left: -10px;

        &__item {
            margin-bottom: 20px;

            &:not(:last-child) {
                border-right: 1px solid #54545433;
                
            }
        }

        &__link {
            display: block;
            padding: 0 10px;

            @include font-title(18px, 22px, .02em, 500);
            color: getColor('accent');        
        }
    }
}