.header-socials {
    
    display: none;

    @media screen and (max-width: ($width-tablet - 1px)) {
        display: flex;
        flex-wrap: wrap;
        
        margin-left: -10px;

        &__item {

            &:not(:last-child) {
                border-right: 1px solid #54545433;
                margin-bottom: 20px;
            }

            &:nth-child(3) {
                @media screen and (max-width: 358px) {
                    margin-bottom: 0;
                }
            }
        }

        &__link {
            display: block;
            padding: 0 10px;

            @include font-title(18px, 22px, .02em, 500);
            color: getColor('accent');        
        }
    }
    
    

    
        
    
}