.container {
    max-width: $width-desktop;
    margin: 0 auto;
    padding: 0 15px;

    @include mobile() {
        width: $width-mobile;
    }


    @include tablet() {
        width: $width-tablet;
    }

    @include desktop() {
        width: $width-desktop;
    }
}