.modal {
    padding: 40px;
    width: 450px;
    min-height: 581px;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: $border-r;
    background-color: getColor('bg');

    text-align: center;

    transform: scale(1);
    @include transition(transform);

    @include desktop() {
        width: 528px;
    }

    .backdrop.is-hidden & {
        transform: scale(.1);
    }
}

.modal__title {
    margin-bottom: 12px;
    
    color: getColor('txt-title');
    
    @include font-title(20px, 30px);

    @include desktop {
        @include font-title(20px, 23px);
    }
}

.modal__button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    @extend %centered;

    border: 1px solid #0000001a;
    border-radius: 50%;
    fill: #000000;
    background-color: getColor('bg');
    @include transition(fill);
    
    &:hover {
        fill: getColor('accent');
    }
}